.recipe {
	max-width: 1100px;
	margin: 0 auto;
	h1 a {
		color: #000;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
	time {
		padding: 0 0 20px 0;
		display: block;
	}

	.recipe-overview {
		padding: 0;
		margin: 0;

		svg {
			position: relative;
			top: 6px;
		}

		span {
			margin: 0 18px 0 3px;
		}

		li {
			list-style: none;
			padding: 0;
			margin: 0;

			@media #{$large-break-point} {
				display: inline-block;
			}
		}
	}

	.recipe-contents {
		@media #{$large-break-point} {
			display: flex;
		}

		ul {
			padding: 0;
			li {
				list-style-type: none;
				&:before {
					content: '\00bb';
					color: $primary-color;
					padding-right: 0.5em;
				}
			}
		}

		ol {
			padding: 0;
			li{
				counter-increment: step-counter;
				list-style-type: none;
				position: relative;
				margin-left: 34px;

				&:before {
					content: counter(step-counter);
					margin-right: 0px;
					background-color: $primary-color;
					color: white;
					/* padding: 1px 7px; */
					font-size: .7em;
					position: absolute;
					left: -34px;
					top: -2px;
					width: 25px;
					text-align: center;
				}
			}
		}
		.ingredients {
			width: 250px;
			padding: 0 43px 0 0;
		}

		.directions {
			@media #{$large-break-point} {
				flex: 1;
			}
		}
	}
}

.post + .post {
	margin: 65px 0 50px 0;
}