// Breakpoints
$small-break-point: "(max-width: 700px)";
$medium-break-point: "(min-width: 700px)";
$large-break-point: "(min-width: 1200px)";
$xlarge-break-point: "(min-width: 2000px)";

$light-grey: #999;